h1{ color : purple; }
h2{ color : green;}
h3{ color : white;}
p{ color: white;}
.one{background-color: black; width: 1000px; height: 1000px;}

.two{background-color: red; width: 1000px; height: 1000px;}